@use "mixin" as *;
body {
margin: 0;
}
h1 {
    margin: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
    font-size: 20px;
    
}
ul {
    padding: 0;
}
button {
    background: white;
    border: 1px solid ;
    border-radius: 10px;
}
.cover {
background: black;
}
.item1 {
background: #98FB98;
}
.item2 {
    background: #B0E0E6;
}
.item3 {
    background: #FFAD90;
}
header {
    background-color: #48D1CC;
    display: flex;
    justify-content: center;
}
.header  {
    height: 120px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_title {
      color: white;
      font-family: 'Kameron', serif;
      font-size: 35px;
      & > .text-animate {
        & > .chra {
            opacity: 0;
            display: inline-block;
            transition: all 1.9s;
            @include animation(
                $name:kf-text-animate,
                $duration:0.5s
            );
            @for $i from 1 through 20{
                &:nth-child(#{$i}) {
                    animation-delay: $i * 0.09s;
                }
            };
    @keyframes kf-text-animate {
        0% {
            transform: translateY(-50%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
             opacity:1;
        }
    }
        }
      }
    }
    & > .header-nav {
     & > .nav_item {
            color: white;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.task_add {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
    & > .task_form {
        display: flex;
        justify-content: center;
        & > .task_input {
            height: 2rem;
            & > .task_btn  {
                height: 2rem;
            }
        }
    }
}
.main-item {
    padding: 50px;
    width: 70%;
    height: 50vh;
    border-radius: 30px;
    background: #E0FFFF;
    margin: 0 auto; 
    & > .sub-title {
        & > .category {
            display: block;
            height: 20px;
            width: 200px;
            margin: 0 auto;
            &::placeholder{
                text-align: center;
            }
         
        }
    }
    & > h2 {
        margin-top: 40px;
    }
                                                                            
    
}
.task_list  {
    & > li {
        transition: all 0.7s;
        & > button {
            margin-left: 40px;
        }
    }
}

.show_text {
    transition: all 0.7s;
}


